#greeting {
  font-size: 30px;
  opacity: 0.7;
}

#greeting:hover {
  font-size: 48px;
  opacity: 1;
  transition: font-size .2s ease-in-out, opacity .5s ease-in-out;
}

#todo-form {
  margin: 30px auto;
}

#todo-form input{
  width: 500px;
  font-size: 22px;
  padding: 7px 15px;
  box-sizing: border-box;
  border: none;
  background: transparent;
  color: white;
  opacity: 0.9;
  border-bottom: 2px solid #EDEDED;
  transition: border-bottom 2s ease-in-out;
  border-radius: 15%;
  text-align: center;
}

#todo-form input::placeholder {
  color: white;
  font-family: 'Yeon Sung', cursive;
  text-align: center;
}

#todo-list {
  width: 50%;
  height: 150px;
  overflow: auto;
  font-size: 20px;
  text-align: center;
  column-count: 3;
  padding: 20px;
  line-height: 1.75;
}

#todo-list:hover {
  background-color: white;
  opacity: 0.5;
  border-radius: 20px;
  transition: background-color .2s ease-in-out;
  color: #3D3D3D;
}

#todo-list::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: rgb(226, 221, 221);
  border-radius: 25px;
}

#todo-list::-webkit-scrollbar-thumb {
  background-color: rgb(194, 189, 189);
  border-radius: 25px;
}

#todo-list span {
  margin-right: 5px;
}

#todo-list button {
  border: none;
  border-radius: 5px;
  font-family: 'Yeon Sung', cursive;
  font-size: 14px;
  background: transparent;
  color: white;
}

#todo-list:hover button {
  color: #3D3D3D;
  box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.3);
}