.top-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 90px;
}

#quote {
  width: 50%;
  font-size: 22px;
  text-align: center;
  display: flex;
  flex-direction: column;
  opacity: 0.5;
}

#weather {
  font-size: 26px;
  opacity: 0.5;
}

#quote:hover,
#weather:hover {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}